<div class="pageindex"><br /><br />
<p>
	<strong>Title</strong>&nbsp;&nbsp;&nbsp;&nbsp;
	<%= @blog.title%>
</p>
<p>
	<strong>Body</strong>&nbsp;&nbsp;&nbsp;&nbsp;
	<%= @blog.body%>
</p>
<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>Name:</strong>
    <%= comment.name %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
<%= form_for([@blog, @blog.comments.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
</div>